<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta http-equiv="x-dns-prefetch-control" content="on" />
  <meta name="renderer" content="webkit">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <title>css3</title>
  <style>
		*{padding:0;margin:0;}
		/*禁用常用标签在选中的时候出现半透明效果或黄色标签*/
		body,a,img,label,input,textarea,select{outline: none,text-decoration:none; -webkit-tap-highlight-color:rgba(0,0,0,0);text-align:-webkit-center;text-align:-moz-center;}
		.marquee {
	white-space: nowrap;
	overflow:-webkit-marquee;
	width: 700px;
	-webkit-marquee-direction: forwards;
	-webkit-marquee-speed: slow;
	-webkit-marquee-style: alternate;
}
.content:after{content: '111222221'; }
  </style>
</head>
<body>
	<div style='background:#333;-webkit-mask: url(http://127.0.0.1:3000/img/0518/searchbox.png);width:300px;height:300px;'></div>
	<!-- 图片蒙版 -->
	<div style='background:#333;-webkit-mask: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));width:300px;height:300px;'></div>
	<!-- 渐变蒙版 -->
	<h1 style='-webkit-text-stroke: 2px blue'>我呵呵了</h1>
	<!-- 为所有的<h1>标题设定一个2px宽的蓝色边框 -->
	<h2 style='-webkit-text-stroke: 1px transparent;'>我是h2</h2>
	<!-- 通过设定1px的透明边框，可以让文字变得平滑 -->
	<h3 style='color: transparent;-webkit-text-stroke: 2px red;'>我是h3</h3>
	<!-- 创建红色镂空字体 -->
	<marquee class='marquee'>我呵呵了我是h2我是h3我呵呵了我是h2我是h3我呵呵了我是h2我是h3我呵呵了我是h2我是h3我呵呵了我是h2我是h3我呵呵了我是h2我是h3我呵呵了我是h2我是h3我呵呵了我是h2我是h3我呵呵了我是h2我是h3我呵呵了我是h2我是h3我呵呵了我是h2我是h3我呵呵了我是h2我是h3</marquee>
	<div style='-webkit-user-select:none;-moz-user-select:none;'>我不能长按选中</div>
	<!-- 我不能长按选中 -->
	<a href="http://www.baidu.com" style='background:url(http://127.0.0.1:3000/img/0518/searchbox.png);width:300px;height:300px;display:block;-webkit-appearance: button;-moz-appearance: button;'></a>
	<!-- 他a链接改成button -->

	<div style='width:200px;height:200px;background:#ccc; '>
		<div>1111</div>
	</div>
	<div class='content' id='hehe'>
		
	</div>
	<script>
		document.getElementById('hehe').style.background='#000';
	</script>
</body>
</html>