<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta http-equiv="x-dns-prefetch-control" content="on" />
  <meta name="renderer" content="webkit">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
 <link rel="stylesheet" href="http://127.0.0.1:3000/css/common/bootstrap.css">
  <title>demo2</title>
  <style>
		body{padding-top: 50px;}
		.start{padding:40px 15px;text-align: center;}
  </style>
</head>
<body>
	<div class="container">
		<h1>极客学院</h1>
		<h2>极客学院</h2>
		<h3>极客学院</h3>
		<h4>极客学院<small>欢迎你</small></h4>
		<p>hellohellohellohellohello</p>
		<p class='lead'>hellohellohellohellohello<abbr title='attribyte'>ssssssss</abbr></p>
		<p>hello world<mark>极客学院</mark></p>
		<p class='text-left'>你好么</p>
		<p class='text-right'>你好么</p>
		<p class='text-center'>你好么</p>
		<p class='text-lowercase'>ssxXX</p>
		<p class='text-uppercase'>ssxXX</p>
		<p class='text-capitalize'>ssxXX</p>
		<address>
			<strong>极客学院</strong>
			<br>
			北京市，海定区g去  <br>
			上地三街
			<abbr title="phone">p:88888888</abbr>                                                             
		</address>
		<ul class='list-unstyled'>
			<li>1</li>
			<li>1</li>
			<li>1</li>
		</ul>
	</div>
</body>
</html>