<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <meta http-equiv="x-dns-prefetch-control" content="on" />
  <meta name="renderer" content="webkit">
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
 <link rel="stylesheet" href="http://127.0.0.1:3000/css/common/bootstrap.css">
  <title>bootrasp</title>
  <style>
		body{padding-top: 50px;}
		.start{padding:40px 15px;text-align: center;}
  </style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">project</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class='nav navbar-nav'>
					<li class='active'><a href="#">HOME</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class='start'>
			<h1>BootStrap start template</h1>
			<p class='lead'>hua</p>
			<p class='lead'>hua</p>
			<p class='lead'>hua</p>	
		</div>

	</div>
</body>
</html>