<!doctype html>
<html>
<head>
	<meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
	<!--使用utf-8-->
	<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1' />
	<!-- 使用最新模式渲染页面 -->
	<meta http-equiv='x-dns-prefetch-control' content='on' />
	<!-- dns预解释 -->
	<meta name='renderer' content='webkit' />
	<!-- 双核浏览器指定使用webkit渲染页面 -->
	<meta name='viewport' content='width=device-width,initial-scale=1.0,maximum=1.0,user-scalable=no' />
	<!--定义设备宽度等于网页宽度，初始化1倍，最大1倍，不允许缩放  -->
	<meta name="keywords" content="" />
    <meta name="description" content="" />
	<title>2page</title>
</head>
<body>
	<div>2</div>
</body>
</html>